html,body{
    margin: 0;  /* removes the margin from the html page */
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}




.the-container {   
    margin-top: 60px;
    height: 100%;
    width: 100%;
    padding: 20px;
    /* background-color: rgb(236, 238, 243); */
}

.the-row1 {
    border: 1px solid black;

}

.toolbar-icons {
    background-color: dimgray;
}

.compose-button {
    background-color: dimgray;
}

.compose-button button {
    max-width: 100%;
    display: flex;   
    flex-direction: column;
    border: 0;
    outline: none;
}

.compose-button button:hover {
    cursor: pointer;
    background-color: rgb(175, 145, 209);
}

.the-col-mini-menu {
    background-color:dimgray;
}

.the-col-mini-menu button {
    border-radius: 50%;
    border: 0;
    outline: none;
}

.the-col-mini-menu button img {
    width: 20px;
    border-radius: 50%;
}

.the-col-menu button {
    display: flex;   
    flex-direction: row;
    margin: 20px;
    border: 0;
    outline: none;
}

.the-col-menu button:hover {
    cursor: pointer;
    background-color: rgb(107, 111, 98);
}

.the-col-menu {
    color: darkolivegreen;
    background-color: rgb(84, 94, 138);
}

.text-edit {
    text-decoration: none;
}


.toolbar-icons button {
    border-radius: 50%;
    border: 0;
    outline: none;
}

.toolbar-icons button img{
    width: 25px;
    border-radius: 50%;
}

.email-names {
    display: flex;
    flex-direction: column;
    background-color: rgba(105, 105, 105, 0.341);
}

#test1 {
    height: 40px;

}

